@import '~bootstrap/scss/bootstrap';
.navbar {
    background: #112D4E;
}

.form-control {
    // align-items: center;
    background-color: #E5E5E5;
    border-radius: 0%;
    min-width: 80%;
    // display: inline-block;
    // max-width: 60%;
}

Button {
    border-radius: 0%;
}

.entryHeader {
    font-size: x-large;
    margin-left: 10%;
    }

.capsuleEntry {
// display: inline-block;
justify-content: center;
margin: auto;
// align-items: center;
max-width: 80%;
}
// .button {
//     background: 'red';
//     border: '#6B7B93';
// }